html {
height: 100%;    
}
body {
	background: #202529;
	/*background-color: rgb(10,10,10);*/
	/*background: rgba(30,51,106,1);*/
	/*background: -moz-linear-gradient(-45deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
	/*background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,51,106,1)), color-stop(100%, rgba(85,32,113,1)));*/
	/*background: -webkit-linear-gradient(-45deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
	/*background: -o-linear-gradient(-45deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
	/*background: -ms-linear-gradient(-45deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
	/*background: linear-gradient(135deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e336a', endColorstr='#552071', GradientType=1 );*/

	position: relative;
	min-height: 100%;    
	margin: 0;
	font-family: "courier";
	font-size: 12px;
}
#mode-container { /* should be equal to or greater than height of footer */
	min-height: 100%;
	margin-bottom: 50px;
	color: white;
}
#mode-container h1 {
	color: white;
	margin: 0;
}
#mode-container p {
	color: inherit;
}
#main-pane.INDEX {
	background-color: red;
}
#main-pane.TREE {
	background-color: blue;
}
#main-pane.PROCESS {
	background-color: purple;
}
#main-pane.OBJECT {
	background-color: green;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: black;
}
#status-line {
	height: 15px;
	background-color: gray;
}
#status-line .mode, #status-line .file {
	height: 15px;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10px;
	font-family: "monaco";
}
#status-line .mode {
	text-transform: uppercase;
}
#status-line .mode.INDEX {
	background-color: red;
	color: white;
}
#status-line .mode.TREE {
	background-color: blue;
	color: white;
}
#status-line .mode.PROCESS {
	background-color: purple;
	color: white;
}
#status-line .mode.OBJECT {
	background-color: green;
	color: yellow;
}
#status-line .file {
	background-color: lightgray;
}
#command-window {
	width: 100%;
	background-color: black;
}
#command-prompt, #menu-prompt {
	margin-left: 5px;
	width: 100%;
	border: none;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	padding-left: 5px;
}
input#command-prompt::before {
	content: ":";
}
#command-prompt:focus, #menu-prompt:focus {
	outline-width: 0;
}
p#menu-prompt-hint {
  margin: 0;
  color: white;
}
.menu-item {
	list-style: none;
	color: white;
}
#mode-menu-container {
	display: none;
}

