.searchresults h3 {
  color: white;
  font-size: 30px;
	font-family: ultralight;
  text-align: center;
}
span.queryname {
  color: magenta;
  font-weight: 500;
  letter-spacing: 2px;
}
.searchresults {
  position: fixed;
	padding: 25px;
  width: 45%;
  height: 100%;
	top: 0;
	right: 0;
	background: rgba(26, 24, 24, 0.97); 
	overflow-y: scroll;
	overflow-x: hidden;
}
.search-match.active {
  background-color: rgba(153, 50, 204, 0.27);
}
.searchresults p.filepath {
	color: yellow;
}
.search-match {
	padding: 10px;
	border-radius: 12px;
}
.search-match p, .search-match pre {
	overflow-wrap: break-word;
}
.searchresults img {
	max-width: 600px;
	background-color: snow;
}
.queryWord {
	color: magenta;
	text-decoration: underline;
}
#global-search-container {
  position: fixed;
  width: 50%; 
	padding: 10px;
  top: 25%; 
  left: 25%;
  font-family: sans-serif;
  background: #F1F1F1;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  border: 1px solid #aaa;
  z-index: 2147483646;
}
#global-search {
	background-color: #F1F1F1;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #C6C9CE;
}
#global-search input {
	color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 34px;
  margin-bottom: 0;
  padding: 4px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #E8E8E8;
  box-shadow: #444 0px 0px 1px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}
