html {
height: 100%;    
}
body {
background-color: rgb(10,10,10);
/*background: rgba(30,51,106,1);*/
/*background: -moz-linear-gradient(-45deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
/*background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,51,106,1)), color-stop(100%, rgba(85,32,113,1)));*/
/*background: -webkit-linear-gradient(-45deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
/*background: -o-linear-gradient(-45deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
/*background: -ms-linear-gradient(-45deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
/*background: linear-gradient(135deg, rgba(30,51,106,1) 0%, rgba(85,32,113,1) 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e336a', endColorstr='#552071', GradientType=1 );*/

position: relative;
min-height: 100%;    
margin: 0;
font-family: "courier";
/* font-family: "helvetica"; */
font-size: 12px;
}
#mode-container { /* should be equal to or greater than height of footer */
min-height: 100%;
height: auto;
margin: 0 auto -40px;
margin-bottom: 50px;
color: white;
}
#mode-container h1 {
color: white;
margin: 0;
}
#mode-container p {
color: inherit;
}
#main-pane.TREE {
background-color: blue;
}
#main-pane.PROCESS {
background-color: purple;
}
#main-pane.OBJECT {
background-color: green;
}
footer {
position: fixed;
bottom: 0;
width: 100%;
height: auto;
background-color: black;
}
#status-line {
height: 15px;
background-color: gray;
}
#status-line .mode, #status-line .file {
height: 15px;
display: inline-block;
vertical-align: top;
padding-left: 5px;
padding-right: 5px;
font-size: 10px;
font-family: "monaco";
}
#status-line .mode {
text-transform: uppercase;
}
#status-line .mode.NORMAL {
background-color: rgb(175,215,25);
color: rgb(46,86,8);
}
#status-line .mode.TREE {
background-color: blue;
color: white;
}
#status-line .mode.PROCESS {
background-color: purple;
color: white;
}
#status-line .mode.OBJECT {
background-color: green;
color: yellow;
}
#status-line .file {
background-color: lightgray;
}
#command-window {
width: 100%;
background-color: black;
}
#command-prompt, #menu-prompt {
margin-left: 5px;
width: 100%;
border: none;
background-color: black;
color: white;
margin: 0;
padding: 0;
padding-left: 5px;
}
#command-prompt:focus, #menu-prompt:focus {
outline-width: 0;
}
.menu-item {
list-style: none;
color: white;
}
#mode-menu-container {
display: none;
}
#title, .content, .content.depth-0 {
border-left: solid transparent;
padding-left: 80px;
padding-right: 80px;
}
.content.depth-1 { padding-left: 160px; }
.content.depth-2 { padding-left: 240px; }
.content.depth-3 { padding-left: 320px; }
.content.depth-4 { padding-left: 400px; }
.content.depth-5 { padding-left: 480px; }
.content.depth-6 { padding-left: 560px; }

.folded-content {
height: 5px;
margin-bottom: 15px;
border-bottom: dashed gray 2px;
}
/**************** object *******************/
textarea.editable {
line-height: 20px;
font-size: 14px;
width: 100%;
background-color: transparent;
border: none;
color: white;
resize: none;
outline: none;
}
.text_content.active, .image_content.active {
border-left: solid red;
}
.highlighted {
color: black !important;
background-color: white !important;
}
img {
max-width: 1280px;
}
.local-menu-container {
background-color: rgba(128, 128, 128, 0.83);
position: absolute;
left: 0;
width: 168px;
}
.local-menu {
list-style: none;
padding-left: 0;
}
.local-menu-item {
padding-left: 5px;
}
.local-menu-item.active {
background-color: darkmagenta;
}













/******************* D3 *******************/
button {
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
}

.box {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.red {
    background-color: #e9967a;
    color: #f0f8ff;
}

.blue {
    background-color: #add8e6;
    color: #f0f8ff;
}

.cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.fixed-cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    position: fixed;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.h-bar {
    min-height: 15px;
    min-width: 10px;
    background-color: steelblue;
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
}

.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4682b4;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}

.baseline {
    height: 1px;
    background-color: black;
}

.clear {
    clear: both;
}

.selected {
    background-color: #f08080;
}

.control-group {
    padding-top: 10px;
    margin: 10px;
}

.table {
    width: 70%;
}

.table td, th {
    padding: 5px;
}

.table-header {
    background-color: #00AFEF;
    font-weight: bold;
}

.table-row-odd {
    background-color: #f0f8ff;
}

.table-row-odd {
    background-color: #d3d3d3;
}

.code {
    display: inline-block;
    font-style: italic;
    background-color: #d3d3d3;
    border: #969696 solid thin;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.countdown{
    width: 150px;
    height: 150px;
    font-size: 5em;
    font-weight: bold;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.axis .grid-line{
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}

.line{
    fill: none;    
    stroke: steelblue;
    stroke-width: 2;
}

.dot {
  fill: #fff;
  stroke: steelblue;
}

.area {
    stroke: none;
    fill: steelblue;
    fill-opacity: .2;
}

.pie text{
    fill: white;
    font-weight: bold;
}

.circle {
    stroke: none;
    fill: red;
    fill-opacity: .7;
}

.cross {
    stroke: none;
    fill: blue;
    fill-opacity: .7;
}

.diamond {
    stroke: none;
    fill: green;
    fill-opacity: .7;
}

.square {
    stroke: none;
    fill: yellow;
    fill-opacity: .7;
}

.triangle-down{
    stroke: none;
    fill: blueviolet;
    fill-opacity: .7;
}

.triangle-up{
    stroke: none;
    fill: darkred;
    fill-opacity: .7;
}

.bubble{
    fill-opacity: .3;
}

.bar{
    stroke: none;
    fill: steelblue;
}

.node circle {
	cursor: pointer;
	fill: #fff;
	/*
	stroke: steelblue;
	stroke-width: 1.5px;
	*/
}

.node circle.active {
	fill: red;
	stroke: red;
}

.node text {
	font-size: 11px;
	stroke: rgb(140, 53, 140);
}

path.link {
	fill: none;
	/* stroke: #ccc; */
	stroke: darkblue;
	stroke-width: 1.5px;
}
circle.current {
	fill: red !important;
}

a.quicklink {
text-transform: uppercase;
display: block;
width: 15px;
height: 16px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,247,133)), to(rgb(255,197,66)));
border: 1px solid rgb(227,190,35);
color: black;
font-weight: bolder;
font-size: 12px;
padding-top: 2px;
padding-left: 3px;
padding-right: 5px;
border-radius: 2px;
}

a.quicklink.hide {
display: none;
}



