<div id="object-container">
	<div class="text_content content active">
		<p class="editable title" style="font-size: 25px;">{{title}}</p>	
	</div>
	<div class="text_content content">
		<pre class="editable">Add text...</pre>
	</div>
</div>
