<link rel="stylesheet" href="./css/codemirror.css">

<div id="code-mirror-container">

</div>

<script>

	var codeMirrorScript = document.createElement('script');
	var vimKeyBindingsScript = document.createElement('script');

	var codeMirrorPromise = new Promise(function(resolve, reject) {
		codeMirrorScript.onload = function() {
			resolve();	
		};
	}).then(function() {
		$("#mode-container").append(vimKeyBindingsScript);
		vimKeyBindingsScript.src = "./js/vim_keymappings.js";
		vimKeyBindingsScript.onload = function() {
			var container = $("#code-mirror-container")[0];
			var textContent = $(container).parent().find(".editable").text();
			var codeMirror = CodeMirror(container, {
				value: textContent,
				vimMode: true
			});
		};
	});
	
	// Start async processes
	$("#mode-container").append(codeMirrorScript);	
	codeMirrorScript.src = "./lib/codemirror.js";

</script>
